page-home {

    ion-card {
        position: relative;
        text-align: center;
    }

    .card-title {
        position: absolute;
        top: 35%;
        font-size: 1.5em;
        width: 100%;
        font-weight: normal;
        color: #fff;
    }


    /* font-weight: bold; */


    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #fff;
    }
}
