<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ad.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <!--Slides-->
    <ion-row>
        <ion-col>
            <ion-slides pager="true" autoplay="5000" loop="true">
                <ion-slide *ngFor="let picture of ad.pictures">
                    <img src="{{ picture }}">
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <h3 margin-top>Ksh {{ad.price | number}}</h3>
        </ion-col>
        <ion-col text-right>
            <ion-chip style="margin-top: 10px;">
                <ion-icon name="locate"></ion-icon>
                <ion-label>{{ad.location.display_name.split(',')[0]}}</ion-label>
            </ion-chip>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12>
            <h3>{{ad.name}}</h3>
            <p>
                {{ad.description}}
            </p>

            <ion-list margin-top>
                <ion-item no-padding>
                    <ion-avatar item-start>
                        <img src="http://placehold.it/200x200">
                    </ion-avatar>
                    <p>Posted By</p>
                    <h2>{{ad.publisher.name}}</h2>
                </ion-item>
                <!--<ion-item no-padding>-->
                    <!--<ion-icon name="call" item-start></ion-icon>-->
                    <!--<p>Mobile Number</p>-->
                    <!--<h2>-->
                        <!--<a href="tel:{{ad.publisher.telephone}}">-->
                            <!--{{ad.publisher.telephone}}-->
                        <!--</a>-->
                    <!--</h2>-->
                <!--</ion-item>-->
                <!--<ion-item no-padding *ngIf="ad.publisher.email">-->
                    <!--<ion-icon name="mail" item-start></ion-icon>-->
                    <!--<p>Email</p>-->
                    <!--<h2>-->
                        <!--<a href="mailto:#">-->
                            <!--{{ad.publisher.email}}-->
                        <!--</a>-->
                    <!--</h2>-->
                <!--</ion-item>-->
            </ion-list>
        </ion-col>


        <ion-col col-12 no-padding>
            <ion-card>
                <ion-list no-border>
                    <img
                        src="https://www.mapquestapi.com/staticmap/v5/map?key={{config.mapquest_key}}&locations={{ad?.publisher.location.display_name}}&zoom=14&size=400,300">
                    <ion-item>
                        <ion-icon name="pin" item-start large></ion-icon>
                        <h2>{{ad?.publisher.location.display_name}}</h2>
                        <p>{{ad?.publisher.location.lat}}, {{ad?.publisher.location.lon}}</p>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-col>



        <ion-col col-12>
            <small text-muted>
                Posted under {{ad.category}}
            </small>
        </ion-col>

        <ion-col col-12 padding-top>
            <button ion-button icon-start color="secondary" solid (click)="addToCart(ad)" block>
                <ion-icon name="cart"></ion-icon> Checkout
            </button>
        </ion-col>
    </ion-row>

</ion-content>
