<ion-header>
    <ion-navbar color="primary">
        <ion-title>Catering Options</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row>
        <ion-col col-12>

            <div class="info" text-center>
                Tell us more about the catering services you need. We will make sure
                the caterer you choose gets this information
            </div>

            <!--Event info-->
            <ion-list>
                <ion-item>
                    <ion-label>Event Type</ion-label>
                    <ion-select placeholder="Choose" [(ngModel)]="xtype">
                        <ion-option value="WEDDING">Wedding</ion-option>
                        <ion-option value="FUNERAL">Funeral</ion-option>
                        <ion-option value="GRADUATION">Graduation Party</ion-option>
                        <ion-option value="BIRTHDAY">Birthday Party</ion-option>
                        <ion-option value="FAMILY">Family Gathering</ion-option>
                        <ion-option value="CORPORATE">Corporate Event</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item text-left>
                    <ion-label fixed class="fix" text-muted>{{xattendees}} People Expected</ion-label>
                    <ion-range min="0" max="500" color="primary" pin="true" [(ngModel)]="xattendees">
                        <ion-label slot="start">-200</ion-label>
                        <ion-label slot="end">200</ion-label>
                    </ion-range>
                </ion-item>
                <ion-item>
                    <ion-label>Venue</ion-label>
                    <ion-select placeholder="Choose" [(ngModel)]="xvenue">
                        <ion-option value="INDOOR">Indoor Venue</ion-option>
                        <ion-option value="OUTDOOR">Outdoor Venue</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label fixed>Location</ion-label>
                    <ion-input type="text" placeholder="Location" text-right [(ngModel)]="locationQ" (keyup)="suggestLocation()"></ion-input>
                </ion-item>
            </ion-list>


        </ion-col>

        <!--Loader-->
        <ion-row *ngIf="isLoading">
            <ion-col col-3></ion-col>
            <ion-col col-6 text-center text-muted>
                <img src="assets/images/loader.gif" alt="">
                <h5>Loading...</h5>
            </ion-col>
        </ion-row>

        <!--Location-->
        <ion-row>
            <ion-col col-12 *ngIf="places">
                <ion-list>
                    <button ion-item *ngFor="let place of places" (click)="saveLocation(place)">
                        <ion-avatar item-start>
                            <img src="assets/icon/pin.png">
                        </ion-avatar>
                        <h2>{{place.name}}</h2>
                        <p>{{place.coordinates.lat}}, {{place.coordinates.lon}}</p>
                    </button>
                </ion-list>
            </ion-col>
        </ion-row>
        <button ion-button color="secondary" icon-left [hidden]="btnHidden" (click)="saveForm()" block>
            <ion-icon name="checkmark-circle"></ion-icon> Find Caterers
        </button>

    </ion-row>

</ion-content>
