<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{SP.business_name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <!--Loader-->
    <ion-row *ngIf="isLoading">
        <ion-col col-3></ion-col>
        <ion-col col-6 text-center text-muted>
            <img src="assets/images/loader.gif" alt="">
            <h5>Loading...</h5>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="pins">
            <div *ngFor="let ad of ads" class="pin">
                <a href="#!" (click)="viewAd(ad)">
                    <ion-card>
                        <img [src]="ad.featured_picture"/>
                        <ion-card-content>
                            <div class="name ellipsize">{{ad.name}}</div>
                            <small text-muted>Ksh {{ad.price | number}}</small>
                            <br>
                            <small text-muted icon-start>
                                <ion-icon name="pin"></ion-icon>
                                {{ad.location.display_name.split(',')[0]}}
                            </small>
                        </ion-card-content>
                    </ion-card>
                </a>
            </div>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading && !ads">
        <ion-col text-center text-muted>
            <ion-icon name="alert" style="font-size: 4em;"></ion-icon>
            <br>
            <h3>No inventory available</h3>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col col-12 text-center *ngIf="!hasMoreData">
            <br>
            <br>
            The End
            <br>
            <br>
            <br>
        </ion-col>
    </ion-row>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="page?.current_page <= page?.last_page">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Getting some more..."
            *ngIf="hasMoreData">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
