<ion-header>
    <ion-navbar color="primary">
        <ion-title>You are ordering</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row>
        <ion-col>
            <ion-slides pager="true" autoplay="5000" loop="true">
                <ion-slide *ngFor="let picture of ad.pictures">
                    <img src="{{ picture }}">
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>


    <ion-row>
        <!--Product/service information-->
        <ion-col col-12 text-left>
            <h3>{{ad.name}}</h3>
            <p>
                {{ad.description}}
            </p>
        </ion-col>

        <ion-col col-12>
            <h3 margin-top>Ksh {{ad.price | number}}</h3>
        </ion-col>

        <!--Catering options-->
        <ion-col col-12 margin-bottom *ngIf="ad.category == 'CATERING'">
            <ion-card>
                <ion-card-header text-center>
                    Your catering options
                </ion-card-header>
                <ion-list>
                    <ion-item>
                        <ion-icon name="keypad" item-start></ion-icon>
                        Planning a {{config.catering.event_types[eventOptions.type]}}
                    </ion-item>
                    <ion-item>
                        <ion-icon name="home" item-start></ion-icon>
                        Will be an {{config.catering.venues[eventOptions.venue]}}
                    </ion-item>
                    <ion-item>
                        <ion-icon name="contact" item-start></ion-icon>
                        {{eventOptions.attendees}} people might attend
                    </ion-item>
                    <ion-item>
                        <ion-icon name="pin" item-start></ion-icon>
                        Held @ {{eventOptions.location.name}}
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-col>

        <!--Payment Instructions-->
        <ion-card>
            <ion-list margin-bottom>
                <ion-item>Offered By: {{ad.publisher.business_name}}</ion-item>
                <ion-item>Location: {{ad.publisher.location.display_name}}</ion-item>
            </ion-list>
        </ion-card>

        <!--Extra order instructions-->
        <ion-col col-12 margin-bottom margin-top *ngIf="canAddExtraInstructions">
            <ion-card>
                <ion-card-header>
                    Additional Information
                </ion-card-header>
                <ion-card-content padding-top>
                    <textarea placeholder="Type extra order information here..." style="width: 100%; height: 100px;"
                              [(ngModel)]="instructions" padding></textarea>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <br>
        <br>
        <ion-col col-12 text-center *ngIf="ad.category == 'AGROVET'">
            <button ion-button color="primary" clear icon-start full
                    *ngIf="!canAddExtraInstructions"
                    (click)="showExtraInstructions()"
                    outline padding-left padding-right>
                Add extra order info
            </button>
        </ion-col>

        <!--Delivery location-->
        <ion-col col-12 text-center *ngIf="ad.category == 'AGROVET'">
            <button ion-button color="primary" icon-start full (click)="changeLocation()" clear padding-left
                    padding-right>
                Change your delivery location
            </button>
        </ion-col>

        <ion-col col-12 padding>
            <button ion-button color="secondary" icon-start block (click)="createOrder()">
                <ion-icon name="checkmark-circle"></ion-icon>
                Place Order
            </button>
        </ion-col>
    </ion-row>

</ion-content>
